body {
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.topcontainer {
  position: relative;
}

.roadpic {
  width: 100%;
  height: 80%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.heading {
  position: absolute;
  top: 50px;
  left: 22%;
}

h1 {
  font-family: 'Marck Script', cursive;
  font-size: 100px;
  color: #364f6b;
  margin-top: 0;
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  color: #3d84a8;

}

h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;

}

h4 {
  font-family: 'Marck Script', cursive;
  font-size: 70px;
  margin: 0;
  padding: 10px;
  color: #364f6b;

}

.intro {
  font-family: 'Lato', sans-serif;
  padding: 30px;
  font-size: 20px;
  line-height: 2;
}

.profilepic {
  border-radius: 50%;
  height: 200px;
  padding: 20px;
  float: right;
}

.copyright {
  background-color: #eeeeee;
  position: absolute;
  width: 100%;
  font-size: 12px;
}


.skill-row {
  width: 50%;
  margin: 75px auto 75px auto;
  text-align: left;
  line-height: 2;
  font-size: 20px;
}

.pharmcross {
  height: 200px;
  float: left;
  margin-right: 30px;
  padding: 20px;
}

.codepic {
  height: 200px;
  float: right;
  margin-right: 30px;
  padding: 20px;
}


.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.contacttxt{
  font-size: 20px;
}

hr{
  width: 75%;

}
